.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.header-left__img {
    width: 100px;
    height: 100px;
}

.header__left {
    display: flex;
    flex-wrap: wrap; 
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-left__title {
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

.header-left__link-container {
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    justify-content: space-between;
    color: white;
}

.header-left__menu-link {
    display: inline-table;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header__center {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-content: center;
    justify-content: center; 
}

.header__right {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    align-content: center;
    justify-content: flex-end; 
}

.body {
    margin: 0px;
}

.cart-item__buy-button {
    background: red; 
    color: #fff; 
    border: none; 
    padding: 20px 100px;
    margin: 1rem;
    font-size: 3ch;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: 2px solid red; 
}

.cart-item__buy-button:hover {
    background-color:lightcoral;
    border: 2px solid lightcoral; 
}

.cart-item__buy-button:active {
    background: red;
    border: 2px solid black;
}

.cart-item__buy-button:focus {
    border: 2px solid black;
}

.sell-card {
    text-align: center;
    padding-top: 75px;
}

.header-right__Name {
    color: white;
}

.footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__left {
    display: flex;
    padding: 1%;
    flex-basis: 31%;
    color: white;
    align-items: flex-end;
}

.footer__center {
    display: flex;
    padding: 1%;
    flex-basis: 31%;
    justify-content: center;
    align-items: center;
}

.footer__right {
    display: flex;
    padding: 1%;
    flex-basis: 31%;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
}

.page-numbers {
    color: gray;
    text-align: center;
    padding: 10px;
}

.header-right__button-counter {
    border: none;
    visibility: hidden;
    background-color: orange;
    outline: none;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    vertical-align: top;
}

.cart-item__price {
    color: white;
    background-color: black;
    font-size: 16pt;
    padding-bottom: 10px;
}

.header-right__button-counter:hover {
    border: none;
}

.header-right__button-counter:active {
    border: none;
}

.header-right__button-counter:focus {
    border: none;
}

.basket {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    /* width: 500px;
    max-width: 80%; */
    overflow: auto;
}

.basket.active {
    transform: translate(-50%, -50%) scale(1);
}

.basket__header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-header__close-button {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    color: gray;
}

.basket__footer {
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

.overlay.active {
    pointer-events: all;
    opacity: 1;
}

.header-right__basket-button {
    background-color: black;
    cursor: pointer;
    border: none;
    outline: none;
}

.header-right__basket-button:hover {
    border: none;
}

.header-right__basket-button:active {
    border: none;
}

.header-right__basket-button:focus {
    border: none;
}

.cart-item__title {
    color: white;
    background-color: black;
    font-size: 16pt;
    padding: 10px 0px;
}

.cart {
    color: black;
}

.cart-item__img {
    width: 350px;
    height: 350px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 200px;
}

.items__cart-item {
    text-align: center;
    margin: 10px;
    flex: 0 0 32%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;

}

.basket__cart-items {
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    max-width: 800px;
    max-height: 600px;
    overflow: scroll;
}

.basket__cart-item {
    display: flex;
    flex: 1 0 90%;
    background-color: red;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.basket__cart-img {
    width: 50px;
    height: 50px;
}

.basket__cart-title {
    padding: 10px;
}

.basket__cart-price {
    padding: 10px;
} 

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.loader.active {
    transform: translate(-50%, -50%) scale(1);
}

.basket-header__count-items {
    padding: 10px;
    
}

@media (max-width: 2200px) {
    .items {
        padding: 0 100;
    }
}

@media (max-width: 1900px) {
 
    .header-left__title {
        font-size: 10pt;
    }

    .header__right {
        flex-basis: 25%;
    }

    .header__center {
        flex-basis: 35%;
    }

    .header__left {
        flex-basis: 40%;
    }
}

@media (max-width: 1538px) {
    .header-left__title {
        font-size: 10pt;
    }

    .header__right {
        flex-basis: 25%;
    }

    .header__center {
        flex-basis: 25%;
    }

    .header__left {
        flex-basis: 50%;
    }

    input {
        width: 200px;
       
    } 
}

@media (max-width: 1260px) {
    .header-left__img {
        width: 50px;
        height: 50px;
    }

    .header-left__title {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .header__left {       
        flex-basis: 50%;
    }

    .header__center {
        flex-basis: 20%;
    }

    .header__right {
        flex-basis: 30%;
    }

    input {
        width: 100px;
        height: 25px;
    } 

    .header-left__title {
        font-size: 10pt;
    }

    .header-left__link-container {
        font-size: 10pt;
    }
} 

@media (max-width: 960px) {
    .footer__left {
        padding: 1%;
        flex-basis: 20%;
    }

    .footer__center {
        padding: 1%;
        flex-basis: 20%;
    }
    
    .footer__right {
        padding: 1%;
        flex-basis: 20%;
    }

    .header-left__title {
        display: none;
    }
    
    .header-left__title {
        font-size: 10pt;
    }

    .header__right {
        flex-basis: 50%;
    }

    .header__center {
        flex-basis: 30%;
    }

    .header__left {
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex-basis: 20%;
    }

    .header-left__link-container {
        display: none;
    }
}

@media (max-width: 521px) {
    .footer__left {
        padding: 1%;
        flex-basis: 20%;
        font-size: 10pt;

    }

    .footer__center {
        padding: 1%;
        flex-basis: 20%;
        width: 100px;
    }
    
    .footer__right {
        padding: 1%;
        flex-basis: 20%;
        font-size: 10pt;
    }

    .header-left__title {
        font-size: 10pt;
    }

    .header__right {
        flex: 1 0 32%;
    }

    .header__center {
        flex: 1 0 32%;
    }

    .header__left {
        flex: 1 0 32%;
    }

    .header-right__bell-icon {
        width: 20px;
        height: 20px;
    }

    .header-right__basket-icon {
        width: 20px;
        height: 20px;
    }

    .header-right__profile-icon {
        width: 20px;
        height: 20px;
    }
    
    .header-right__basket-button {
        width: 20px;
        height: 20px;
    }

    .header-right__button-counter {
        width: 10px;
        height: 10px;
        text-align: center;
        vertical-align: middle;
        font-size: 6pt;
    }

    .header-right__Name {
        display: none;
    }

    .search-icon {
        display: none;
    }

    input {
        width: 50px;
        height: 25px;
    } 

    .cart-item__img {
        height: 200px;
        width: 200px;
    }

    .cart-item__title {
        font-size: 12pt;
    }

    .cart-item__price {
        font-size: 12pt;
    }

    .cart-item__buy-button {
        font-size: 12pt;
    }

    .header-left__img {
        width: 40px;
        height: 40px;
    }

    .items {
        padding: 0 0;
    }
}