.page {
    min-height: 100vh;
}

.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.header-main-left {
    display: flex;
    flex-wrap: wrap; 
    flex-basis: 33%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
}

.link {
    display: inline-table;
    color: white;
}

.header-main-center {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-content: center;
    justify-content: center; 
}

.header-main-right {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-content: center;
    justify-content: flex-end; 
}

.bell {
    
    margin-right: 20px;
}

.body {
    margin: 0px;
}

.button {
    background: red; 
    color: #fff; 
    border: none; 
    padding-bottom: 20px; 
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 1rem;
    font-size: 3ch;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: 2px solid red;   
}

.button:hover {
    background-color:lightcoral;
    border: 2px solid lightcoral; 
}

.button:active {
    background: red;
    border: 2px solid black;
}

button:focus {
    border: 2px solid black;
}

.sell-card {
    text-align: center;
    padding-top: 75px;
}

.Name {
    color: white;
}

.footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    padding: 1%;
    flex-basis: 31%;
    color: white;
    align-items: flex-end;
}

.footer-center {
    display: flex;
    padding: 1%;
    flex-basis: 31%;
    justify-content: center;
    align-items: center;
}

.footer-right {
    display: flex;
    padding: 1%;
    flex-basis: 31%;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
}

.page-numbers {
    color: gray;
    text-align: center;
    padding: 10px;
    padding-right: 30px;
}

.button-counter {
    border: none;
    background: black;
    outline: none;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    vertical-align: top;
}

.title {
    padding: 10px 0px;
}

.price {
    padding: 10px 0px;
}

.button-counter:hover {
    border: none;
}

.button-counter:active {
    border: none;
}

.button-counter:focus {
    border: none;
}

.basket {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    overflow: auto;
}

.basket.active {
    transform: translate(-50%, -50%) scale(1);
}

.basket-header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    color: gray;
}

.basket-header .title {
    
}

.basket-main {
    padding: 10px 15px;
}

.basket-footer {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.open-basket {
    background-color: black;
    cursor: pointer;
    border: none;
    outline: none;
}

.open-basket:hover {
    border: none;
}

.open-basket:active {
    border: none;
}

.open-basket:focus {
    border: none;
}

.title {
    color: black;
}

.cart {
    color: black;
}

.item-img {
    width: 500px;
    height: 500px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.items {
    display: flex;
    flex-wrap: wrap;
    
}

.item {
    text-align: center;
    margin: 2%;
    flex-basis: 29%;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
}
    
.cart-img {
    width: 50px;
    height: 50px;
    /* display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-items: center;  */
}

/* .cart-title {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-items: center; 
}

.cart-price {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-items: center; 
} */

.cart-item {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center; 
    align-content: center;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.loader.active {
    transform: translate(-50%, -50%) scale(1);
}

.basket-count-items {
    padding: 10px;
    
}









#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}



